Repository aqden/datahub, pull requests merged in 2023-10, with the labels that each got.

#122 feat(datahub-ingestion): refactor datahub ingestion slim images (#8515)
  .github/actions/docker-custom-build-and-push/action.yml
  .github/workflows/docker-ingestion-base.yml
  .github/workflows/docker-ingestion.yml
  .github/workflows/docker-unified.yml
  build.gradle
  datahub-frontend/build.gradle
  datahub-upgrade/build.gradle
  docker/build.gradle
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion-base/base-requirements.txt
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion-base/entrypoint.sh
  docker/datahub-ingestion-slim/Dockerfile
  docker/datahub-ingestion-slim/build.gradle
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/build.gradle
  docker/docker-compose-with-cassandra.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.yml
  docker/elasticsearch-setup/build.gradle
  docker/ingest-api/Dockerfile
  docker/kafka-setup/build.gradle
  docker/mysql-setup/build.gradle
  docker/postgres-setup/build.gradle
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  gradle/docker/docker.gradle
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-jobs/mae-consumer-job/build.gradle
  metadata-jobs/mce-consumer-job/build.gradle
  metadata-service/war/build.gradle
  smoke-test/tests/cypress/cypress/e2e/mutations/managed_ingestion.js
Labels: product, devops, ingestion, smoke_test

#123 workaround for oracle.py
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/tests/integration/oracle/common.py
Labels: ingestion

#124 Revert "workaround for oracle.py"
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/tests/integration/oracle/common.py
Labels: ingestion

#127 free up storage for ingestion image
  .github/workflows/docker-ingestion.yml
Labels: devops

#129 feat(ui): Sort user's groups in their profile
  datahub-web-react/src/app/entity/shared/EntityGroups.tsx
Labels: product

#133 fixed bugs in openapi.py and openapi_parser.py
  metadata-ingestion/src/datahub/ingestion/source/openapi.py
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/unit/test_openapi.py
Labels: ingestion
